@model Person

@*<div id="@("person" + Model.Id)" class="col-12 listrow">
    <div class="row">
        <div class="col-2">@Model.Name</div>
        <div class="col-2">@Model.Age</div>
        <div class="col-6">
            <div class="row">

                <div class="col">                                                              
                    <button class="btn btn-warning" onclick="LinkUpdate('@Url.Action("Edit", "Person", new {id = Model.Id })' , '@("person" + Model.Id)')">
                        Edit
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>*@

<table id="@("person" + Model.Id)" class="table">
    <thead>
        <tr>
            @*<th>Name</th>
            <th>Age</th>
            <th>Options</th>*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Age</td>
            <td>
                <button class="btn btn-warning" onclick="LinkUpdate('@Url.Action("Edit", "Person", new {id = Model.Id })' , '@("person" + Model.Id)')">Edit</button>
            </td>
        </tr>
    </tbody>
</table>